html {
    scroll-behavior: smooth;
  }
  
  /* Set body‘s font-family to font-family-base */
  body {
    color: var(--text-color);
    font-family: var(--font-family-base);
  }
  
  a {
    color: var(--text-color);
  
  }
  
  .visually-hidden {
    display: none;
  }
  
  .card-category {
    color: var(--color-primary); 
  }
  
  .section-tagline {
    color: var(--color-primary);
  }
  
  /* Targeting the root element, create 2 custom font-family properties font-family-base and font-family-title */
  :root {
   --color-primary: #d73953;
   --color-black: #090909;
   --color-white: #ffffff;
   --color-light-grey: #f3f3f3;
   --color-dark-grey: #353535;
   --text-color: var(--color-black);
   /* set the first choice font as Helvetica Neue */
   --font-family-base: Helvetica Neue;
   --font-family-title: Helvetica Neue;
   /* set the second choice font as Helvetica */
   --font-family-base: Helvetica;
   --font-family-title: Helvetica;
   /* set the third choice font as Arial */
   --font-family-base: Arial;
   --font-family-title: Arial;
   /* set the last choice font as sans-serif */
   --font-family-base: sans-serif;
   --font-family-title: sans-serif;
  }

  /* Create a new declaration targeting all 6 levels of section headings, positioned before the links declaration and set its font-family to font-family-title */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
  }